<h1>To-Do List</h1>
<%= link_to 'New Task', new_task_path %>
<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= task.title %> - <%= link_to 'Show', task_path(task) %> |
      <%= link_to 'Edit', edit_task_path(task) %> |
      <%= link_to 'Delete', destroy_task_path(task), data: { turbo: false, confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>